table {
    border-collapse: collapse;
    width: 100%;
}
th, td {
    border: 1px solid black;
    padding: 8px;
    text-align: left;
}
th {
    background-color: #f2f2f2;
}
.filter-dropdown {
    width: 100%;
}
#searchInput {
    margin-bottom: 10px;
}

.arc {
    transition: fill 0.2s; /* Voeg een overgangseffect toe */
}

.arc:hover {
    fill: lightgray; /* Kleur veranderen bij hover */
    cursor: pointer; /* Muisaanwijzer veranderen naar pointer */
}

.categorieText{
    text-align: center;
}

.categorieParagraaf{
    text-align:center;
}

.bar {
    fill: steelblue; /* Stel de staafkleur in */
    transition: fill 0.2s; /* Voeg een overgangseffect toe */
}

.bar:hover {
    fill: lightsteelblue; /* Kleur veranderen bij hover */
    cursor: pointer; /* Muisaanwijzer veranderen naar pointer */
}


/* CSS-stijlen voor de container */
.chart-containerprojectstatus {
    display: flex;
    justify-content: flex-end; /* Plaats de inhoud aan de rechterkant */
    align-items: center; /* Centreer verticaal */
    height: 100vh; /* Volledige hoogte van het viewport */
    padding: 20px;
    margin-left: 80%; /* Voeg wat ruimte toe rondom de inhoud */
}